boto3
black
blacksheep
flake8==3.8.4
graphviz
ipython
# markdownify
# matplotlib
msgpack
msgpack-numpy
mypy==0.782
mypy-extensions==0.4.3
numpy
htm.core
# openai
pandas
Pillow
plotly
popoto>=0.7.3
python-telegram-bot
PyYAML
redis==3.5.3
requests
roconfiguration==1.0.8
six
streamlit
uvicorn==0.14.0
uvloop==0.14.0; platform_system != "Windows"


# INSTALLED VIA ANACONDA ON LOCAL (in order):
# -c apple tensorflow-deps
# opencv
# scikit_learn
# scikit-image
# keras
# openblas
# scipy
# torch
# torchvision
# fastai
# fastai2
# fastcore


# PRODUCTION ONLY
# psycopg2
# https://download.pytorch.org/whl/cpu/torch-1.6.0%2Bcpu-cp37-cp37m-linux_x86_64.whl
# tensorflow-cpu


# OTHER
# azure-cognitiveservices-search-imagesearch
# sentencepiece
